UnityProject/Packages/com.ptc.vuforia.engine-10.17.4.tgz filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_4_0.bundle filter=lfs diff=lfs merge=lfs -text
